In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

#군집분석 설명텍스트

##군집분석 가이드

###고객세분화

인구통계적 변수 (성별, 나이, 거주지, 직업, 소득, 교육, 종교 등)
구매패턴 변수 (상품, 주기, 거래액 등)
생활패턴 변수 (라이프스타일, 성격, 취미, 가치관 등)

###군집들의 해석

- 군집 내의 관측들의 공통점은?
- 다른 군집의 관측치들과 어떻게 다른가?
- 군집별, 각 변수들의 요약통계치 확인
- 연속형 데이터의 경우 각 군집 내의 변수들의 평균과 중앙값 계산 <- clustering8_result(mean,std) 파일 참고.
- 혼합형 데이터(범주형 변수도 포함된 경우) : 요약 데이터로 최빈치 내지 범주분포 또한 포함

##군집분석 내용

###군집 공통점
- 성비는 1:5 비율로 골고루 분포되있음
- 거주지역은 주로 100(경기)
- 구매금액/방문빈도는 제휴사 A가 가장 높음 

- 구매금액이 큰 제휴사
  - 고객별로 'A', 'B', 'C', 'D' 값이 들어있는 칼럼을 `count`한 결과이다.
  - 군집별 A 제휴사 count / total : (75, 63, 53, 46)
  - 군집별 B 제휴사 count / total : (17, 27, 27, 30)
  - 군집별 C 제휴사 count / total : (6, 8, 15, 22.5)

###0번 군집
####0번 군집 분석 
- 1975명
- 추세분석 : B제휴사, 일반, 편의, 전문 상품 구매 감소추세를 보임
- Monetary평균이 가장 높은 군집
- A방문횟수가 타 군집에 비해 평균 100회정도 높음
=> A 지출액 확인 후, 평균이 가장 높으면 A제휴사와 지출 연관 높은 걸로 볼 수 있다.
- 신규고객이 (3번과 함께) 가장 많은 (신규 유입이 가장 높은) 군집
=> 신규고객이 0번 군집의 특징을 보일 확률이 높다.
- 저녁보다 점심에 많이 구매함(참고로 타군집은 점심/저녁 구매빈도 비슷)
=> 9-6 직장인이 적다. => 한국사회는 보통 9-6인 점을 감안하면 0번 군집 고객은 직장인이 아닐 가능성이 높다.
전반적으로 여성고객이 많다. => 일단 보류....
- 타 군집에 비해 B 제휴사 구매금액 비율이 낮고 타 군집에 비해 A 제휴사 구매금액 비율이 높은 것으로 보임. 이에 정확한 지출액을 확인한 결과 A에 쏠려있다는 결론을 낼 수 있다.

####0번 군집 특징 정리와 솔루션 방향
< 0번 군집의 특징 >
1. 일반, 편의, 전문 상품이 구매 감소추세를 보이고 있다.
2. B 제휴사 구매 감소추세를 보임
3. A 제휴사에 지출이 쏠려있다.
- 1~3에 따라서 일반, 편의, 전문 상품을 A 와 B 중에 어디서 주로 구매하는지 확인하여 솔루션을 낸다.
- 만약 A 제휴사에서 해당 분류의 상품을 주로 구매한다면, 비슷한 고객의 데이터를 기반으로 상품추천을 해주고
- B 제휴사에서 해당 분류의 상품을 주로 구매한다면, B 제휴사 이용 자체가 줄어드는 것이므로 이에 맞는 솔루션이 필요하다. 
  - (솔루션: B 제휴사의 온라인 판매를 타겟으로? 하려 하였으나 뭐가 온라인인지 모른다. 온라인이 들어간 중분류명, 중분류코드로 산출한 데이터 외에는 모른다. 그러나 B 제휴사 이용횟수에 비해 B 제휴사 온라인 중분류의 매출액이 현저히 차이가 나서, 이 데이터는 무조건 구멍이 있다.)

< 추가 체크 사항 >
1. 군집별, 제휴사별 지출액 평균
2. 0번 군집의 A, B 제휴사별 일반, 편의, 전문 상품 구매 평균 확인.
3. B 제휴사의 온라인 구매가 줄어서 그런 것인지 데이터로 확인.

< 확인결과>
- 결론 1 : 0번 군집은 A제휴사에 비해서 B제휴사가 일반/비내구/편의 상품 구매횟수가 높고, B에 비해 A제휴사의 전문 상품 구매횟수가 높다. 따라서 B제휴사 구매 감소추세와 일반, 편의 상품 구매 감소추세로 미루어보아 생활용품 구매에 있어 L사 이용이 줄어들고 있고,
- 결론 2 : A제휴사에 지출이 쏠려있는 점(고일.내준비.편선전 상품 중 전문상품의 구매금액평균이 가장 높다: 685824)과 전문 상품 감소추세로 미루어보아 0 군집 구매금액파이의 가장 큰 전문상품이 구매감소를 보이기 때문에 0번 군집의 구매패턴이 감소하고 있다고 결론 지을 수 있다.

####솔루션
1. (A 제휴사에서) 전문 상품 추천, 
2. (B 제휴사에서) 일반, 편의 상품 추천.

### 1번 군집
- 1821명
- (전체구매액 증감 평균 1) 전문은 확실한 증가이나 고급, 일반, 편의, 선매는 미미한 증가추세를 보임 (증감지수 1 이하)

대체 왜 감소하는 거지?
전문 증감지수가 3.34로 굉장히 높은 편. 왜 감소?

###2번 군집
- 1290명
- (전체구매액 증감 평균 2) 고급, 일반, 편의는 확실한 증가이나 선매와 전문은 비교적 증가추세가 뚜렷하지 않음 (증감지수 선매 1.85 , 전문 1.13)
- 상대적으로 젊은 층의 비율이 좀 더 높음
- 2분기 이후 신규유입 X
- 명품구매자 반 반(구매안한 사람이 더 많음)

### 3번 군집
####3번 군집 분석
- 4671명
- 전문 상품이 감소추세를 보임. 선매, 고급이 미미한 증가, 일반과 편의가 1이 넘는 증가지수를 보임.
- 가장 많은 인원을 보유한 군집
- 신규고객이 (0번 다음으로) 많은 군집
=> 신규고객이 3번 군집의 특징을 보일 확률이 높다.
- 방문빈도가 가장 높고 평균지출액이 가장 낯음
- 방문횟수가 타군집에 비해 A는 가장 낮고, B는 중간, C는 2배 이상 높음.
=> 빈도가 높고 일반/편의 구매율이 높아지는 것으로 보아 일반/편의 구매가 증가.
=> 평균지출액이 낮은 걸로 보아 전문 상품 구매가 낮았으나(명품구매자 상대적으로 적음) 그조차도 감소.
=> C제휴사의 저렴한 상품을 자주 구매하는 군집으로 보인다.
=> A제휴사에서 구매를 잘 하지 않는다.
- 제휴사별 구매 비율이 골고루 분포되있음

####3번 군집 특징 정리와 솔루션 방향
< 3번 군집의 특징 >
1. 가정 : 애초에 사치품에 흥미가 적은 고객들이다. A 제휴사 방문횟수 평균이 149로 가장 낮으므로 A 제휴사 자주 방문하지 않는다고 볼 수 있다. (최고는 0번 군집 238회)
2. 전문 상품이 감소추세를 보인다.
3. 전문 상품(명품)은 A 제휴사에 있다.
결론 : 1~3에 따라 A 제휴사의 명품 구매를 유도하는 솔루션을 낼 수 있다.

####솔루션
1. A 제휴사 방문하도록 유도
- 사용자 기반 협업 필터링을 기반으로 해당 군집의 구매패턴과 유사한 고객들이 구매한 고급상품의 추천을 통하여 구매를 유도

##데이터목록

### 제공된 데이터

In [ ]:
# 기본 정보
path = '/content/drive/MyDrive/데이터분석/2차_프로젝트_lmemdata/5팀_공유폴더/작업결과물/dataset/lmemdata/'

merchant_cl_path = '상품분류.txt'
channel_use_path = '채널이용.txt'
purchase_tr_path = '구매상품TR.txt'

df_channel_use = pd.read_csv(path+channel_use_path, encoding='cp949') # 멤버들이 어떤 채널로 사용하는지
df_merchant_cl = pd.read_csv(path+merchant_cl_path, encoding='cp949') # 상품 정보
# 구매상품정보 chunk로 불러오기
df_purchase_tr = pd.read_csv(path+purchase_tr_path, encoding='cp949', chunksize = 1000000) #100만개 단위로 끊기, 실제 transaction 데이터
chunk = list(df_purchase_tr)
# print(len(chunk)) # 몇개 chunk인지 출력
df_purchase_tr = pd.concat(chunk)  # 데이터 넣기
# df_purchase_tr.shape

###온라인 구매정보

In [ ]:
df_channel_use

       고객번호           제휴사  이용횟수
0         7  A_MOBILE/APP     4
1        14  A_MOBILE/APP     1
2        42  B_MOBILE/APP    23
3        74  A_MOBILE/APP     1
4        74  B_MOBILE/APP    30
...     ...           ...   ...
8819  19168  C_ONLINEMALL    18
8820  19291  C_ONLINEMALL     1
8821  19312  B_ONLINEMALL   137
8822  19351  C_ONLINEMALL    19
8823  19356  C_ONLINEMALL    16

[8824 rows x 3 columns]

####제휴사별 온라인 구매정보

In [ ]:
df_channel_use.groupby(['제휴사'])[['이용횟수']].sum()

               이용횟수
제휴사
A_MOBILE/APP  13256
B_MOBILE/APP  93067
B_ONLINEMALL   8978
C_MOBILE/APP     56
C_ONLINEMALL   3770
D_MOBILE/APP    609

In [ ]:
# df_merchant_cl['중분류명'].unique().tolist()

matching = [s for s in df_merchant_cl['중분류명'].unique().tolist() if "온라인" in s] 
matching

['온라인버섯/열매채소',
 '온라인잎/샐러드채소',
 '온라인돼지고기',
 '온라인양말',
 '온라인잡곡선식',
 '온라인규격/간편조리생선',
 '온라인해물연체',
 '온라인화장품',
 '온라인양념/뿌리채소',
 '온라인저장과일']

- B사 온라인구매 정보

In [ ]:
# df = df_purchase_tr[df_purchase_tr['제휴사']=='B']
# df = df[df['중분류코드'].isin([103, 511, 4805, 6807, 7203, 7705, 7907, 9004, 9103, 9204])]
df.groupby(['중분류코드'])[['구매금액']].agg(['mean', sum, 'count'])

# df.head()

          구매금액
          mean    sum count
중분류코드
103     5900.0   5900     1
511    16200.0  32400     2
4805    6500.0   6500     1
6807   14990.0  44970     3
7203   36590.0  73180     2
7705    7500.0   7500     1
7907   27200.0  27200     1
9004   10150.0  20300     2
9103    9900.0   9900     1
9204   14900.0  14900     1

A사 온라인 구매 정보

In [ ]:
df = df_purchase_tr[df_purchase_tr['제휴사']=='A']
df = df[df['중분류코드'].isin([103, 511, 4805, 6807, 7203, 7705, 7907, 9004, 9103, 9204])]
df.groupby(['중분류코드'])[['구매금액']].agg(['mean', sum, 'count']) # 중분류명 103 온라인채소

# df.head()

              구매금액
              mean         sum   count
중분류코드
103    7757.109424  1972167500  254240

In [ ]:
df = df_purchase_tr[df_purchase_tr['제휴사']=='C']
df = df[df['중분류코드'].isin([103, 511, 4805, 6807, 7203, 7705, 7907, 9004, 9103, 9204])]
df.groupby(['중분류코드'])[['구매금액']].agg(['mean', sum, 'count'])

# df.head()

              구매금액
              mean       sum count
중분류코드
103    11337.72412  88275520  7786

In [ ]:
df = df_purchase_tr[df_purchase_tr['제휴사']=='D']
df = df[df['중분류코드'].isin([103, 511, 4805, 6807, 7203, 7705, 7907, 9004, 9103, 9204])]
df.groupby(['중분류코드'])[['구매금액']].agg(['mean', sum, 'count']) # 중분류명 103 온라인채소

# df.head()

               구매금액
               mean       sum count
중분류코드
103    17816.005097  55924440  3139

####군집별 온라인 구매정보

In [ ]:
df_channel_use

       고객번호           제휴사  이용횟수
0         7  A_MOBILE/APP     4
1        14  A_MOBILE/APP     1
2        42  B_MOBILE/APP    23
3        74  A_MOBILE/APP     1
4        74  B_MOBILE/APP    30
...     ...           ...   ...
8819  19168  C_ONLINEMALL    18
8820  19291  C_ONLINEMALL     1
8821  19312  B_ONLINEMALL   137
8822  19351  C_ONLINEMALL    19
8823  19356  C_ONLINEMALL    16

[8824 rows x 3 columns]

In [ ]:
# import pandas as pd
# by4_cust = pd.read_csv('/content/drive/MyDrive/데이터분석/2차_프로젝트_lmemdata/5팀_공유폴더/작업결과물/clustering/kmeans_cluster_by4.csv')
df = pd.merge(df_channel_use, by4_cust, on='고객번호', how='left')
df = df[df['kmeans_cluster_by4']==2]

# df.groupby(['제휴사'])['이용횟수'].agg(['mean', sum])
df.head()

    고객번호           제휴사  이용횟수  kmeans_cluster_by4
26   260  B_MOBILE/APP    23                 2.0
52   432  B_MOBILE/APP     6                 2.0
80   574  B_MOBILE/APP    15                 2.0
84   614  B_MOBILE/APP     1                 2.0
97   683  B_MOBILE/APP    21                 2.0

### 중분류 통합된 구매정보 데이터

In [ ]:
# # 대용량 데이터 불러오기 (transaction은 용량이 겁나 큼)
# df_purchase_trl = pd.read_csv('/content/drive/MyDrive/데이터분석/2차_프로젝트_lmemdata/5팀_공유폴더/작업결과물/dataset/create_feature/df_purchase_trl.csv', encoding='cp949', chunksize = 1000000) #100만개 단위로 끊기, 실제 transaction 데이터
# chunk = list(df_purchase_trl)

# print(len(chunk)) # 몇개 chunk인지 출력

# df_purchase_trl = pd.concat(chunk)  # 데이터 넣기
# df_purchase_trl.shape
# # df_purchase_trl['구매일자'] = pd.to_datetime(df_purchase_trl['구매일자'],format='%Y%m%d')

### 군집화 결과 데이터

In [ ]:
# import pandas as pd
# by4_cust = pd.read_csv('/content/drive/MyDrive/데이터분석/2차_프로젝트_lmemdata/5팀_공유폴더/작업결과물/clustering/kmeans_cluster_by4.csv')

In [ ]:
# df = pd.merge(df_purchase_trl, by4_cust, on='고객번호', how='left')
# df.head()

# excel = pd.read_excel('/content/drive/MyDrive/데이터분석/2차_프로젝트_lmemdata/5팀_공유폴더/작업결과물/dataset/create_feature/상품분류.xlsx')
# print(excel.columns)
# excel['중분류명'] = excel['분류']
# excel = excel.drop('분류', axis=1)

# df = pd.merge(df, excel, on='중분류명', how='left')
# df.head()

Index(['분류', '고급/일반', '내구/준내구/비내구', '편의/선매/전문'], dtype='object')

,제휴사,고객번호,구매일자,구매시간,구매금액,중분류명,점포,거주지역,거주지,점포지역,월,년도,4분기,kmeans_cluster_by4,고급/일반,내구/준내구/비내구,편의/선매/전문
0,B,17218,2014-02-22,20,2420,N음료류,B44,100.0,경기,경기,2,2014,1,NaN,일반,비내구,편의
1,B,17218,2014-02-22,20,1070,주류,B44,100.0,경기,경기,2,2014,1,NaN,고급,비내구,편의
2,B,17218,2014-02-22,20,8060,주류,B44,100.0,경기,경기,2,2014,1,NaN,고급,비내구,편의
3,B,17218,2014-02-22,20,6000,일용잡화,B44,100.0,경기,경기,2,2014,1,NaN,일반,내구,편의
4,B,17218,2015-10-23,18,2850,주방용품,B44,100.0,경기,경기,10,2015,4,NaN,고급,준내구,선매

### 군집별 데이터

In [ ]:
# df[df['kmeans_cluster_by4']==0].to_csv('/content/drive/MyDrive/데이터분석/2차_프로젝트_lmemdata/5팀_공유폴더/작업결과물/clustering/data_clu0')
# df[df['kmeans_cluster_by4']==1].to_csv('/content/drive/MyDrive/데이터분석/2차_프로젝트_lmemdata/5팀_공유폴더/작업결과물/clustering/data_clu1')
# df[df['kmeans_cluster_by4']==2].to_csv('/content/drive/MyDrive/데이터분석/2차_프로젝트_lmemdata/5팀_공유폴더/작업결과물/clustering/data_clu2')
# df[df['kmeans_cluster_by4']==3].to_csv('/content/drive/MyDrive/데이터분석/2차_프로젝트_lmemdata/5팀_공유폴더/작업결과물/clustering/data_clu3')

####3 군집의 제휴사별 구매정보

In [ ]:
# import pandas as pd
# clu3 = pd.read_csv('/content/drive/MyDrive/데이터분석/2차_프로젝트_lmemdata/5팀_공유폴더/작업결과물/clustering/data_clu3', index_col=False)
# clu3 = clu3.drop('Unnamed: 0', axis=1)
clu3.head()

,제휴사,고객번호,구매일자,구매시간,구매금액,중분류명,점포,거주지역,거주지,점포지역,월,년도,4분기,kmeans_cluster_by4,고급/일반,내구/준내구/비내구,편의/선매/전문
0,B,17674,2014-02-22,22,1120,농산물,B44,100.0,경기,경기,2,2014,1,3.0,일반,비내구,편의
1,B,17674,2014-02-22,22,1200,N음료류,B44,100.0,경기,경기,2,2014,1,3.0,일반,비내구,편의
2,B,17674,2015-07-15,19,3500,가공식품,B44,100.0,경기,경기,7,2015,3,3.0,일반,비내구,편의
3,B,17674,2015-10-23,18,9230,차/커피,B44,100.0,경기,경기,10,2015,4,3.0,고급,비내구,편의
4,B,17674,2015-10-23,18,5400,N도서/음반,B44,100.0,경기,경기,10,2015,4,3.0,고급,비내구,편의

In [ ]:
print(clu3[clu3['제휴사']=='A'].groupby(['고급/일반'])['구매금액'].agg(['mean', 'count', sum]))
print(clu3[clu3['제휴사']=='A'].groupby(['내구/준내구/비내구'])['구매금액'].agg(['mean', 'count', sum]))
print(clu3[clu3['제휴사']=='A'].groupby(['편의/선매/전문'])['구매금액'].agg(['mean', 'count', sum]))

                mean   count           sum
고급/일반
고급     150033.380624  734885  110257280920
일반      21327.721590  695665   14836949440
                     mean   count          sum
내구/준내구/비내구
내구          184319.858189   84831  15636037890
비내구          26470.119237  845124  22370533050
준내구         173968.296567  500595  87087659420
                   mean   count          sum
편의/선매/전문
선매        168650.313511  498643  84096298280
전문        557905.414940   46573  25983328890
편의         16959.252881  885334  15014603190

In [ ]:
print(clu3[clu3['제휴사']=='C'].groupby(['고급/일반'])['구매금액'].agg(['mean', 'count', sum]))
print(clu3[clu3['제휴사']=='C'].groupby(['내구/준내구/비내구'])['구매금액'].agg(['mean', 'count', sum]))
print(clu3[clu3['제휴사']=='C'].groupby(['편의/선매/전문'])['구매금액'].agg(['mean', 'count', sum]))

              mean    count          sum
고급/일반
고급     6523.072564   500468   3264589080
일반     4919.567776  2167491  10663118878
                   mean    count          sum
내구/준내구/비내구
내구          8944.879846    51767    463049595
비내구         4741.757150  2222477  10538446205
준내구         7432.310575   393715   2926212158
                  mean    count          sum
편의/선매/전문
선매         8619.189816    67634    582950284
전문        20197.300748     1739     35123106
편의         5121.875731  2598586  13309634568

####0 군집 제휴사별 구매금액

In [ ]:
# clu0.groupby(['년도', '4분기'])[['구매금액']].sum()
print(clu0[clu0['제휴사']=='A'].groupby(['고급/일반'])['구매금액'].count())
print(clu0[clu0['제휴사']=='A'].groupby(['내구/준내구/비내구'])['구매금액'].count())
print(clu0[clu0['제휴사']=='A'].groupby(['편의/선매/전문'])['구매금액'].count())

고급/일반
고급    503813
일반    437880
Name: 구매금액, dtype: int64
내구/준내구/비내구
내구      57734
비내구    531238
준내구    352721
Name: 구매금액, dtype: int64
편의/선매/전문
선매    360672
전문     31489
편의    549532
Name: 구매금액, dtype: int64

In [ ]:
print(clu0[clu0['제휴사']=='B'].groupby(['고급/일반'])['구매금액'].count())
print(clu0[clu0['제휴사']=='B'].groupby(['내구/준내구/비내구'])['구매금액'].count())
print(clu0[clu0['제휴사']=='B'].groupby(['편의/선매/전문'])['구매금액'].count())

고급/일반
고급    224280
일반    731837
Name: 구매금액, dtype: int64
내구/준내구/비내구
내구      17600
비내구    723434
준내구    215083
Name: 구매금액, dtype: int64
편의/선매/전문
선매    110827
전문      3423
편의    841867
Name: 구매금액, dtype: int64

In [ ]:
import pandas as pd
clu0 = pd.read_csv('/content/drive/MyDrive/데이터분석/2차_프로젝트_lmemdata/5팀_공유폴더/작업결과물/clustering/data_clu0')
clu0.head()

,Unnamed: 0,제휴사,고객번호,구매일자,구매시간,구매금액,중분류명,점포,거주지역,거주지,점포지역,월,년도,4분기,kmeans_cluster_by4,고급/일반,내구/준내구/비내구,편의/선매/전문
0,21864,B,6285,2014-05-30,18,7900,농산물,B45,33.0,서울,경기,5,2014,2,0.0,일반,비내구,편의
1,21865,B,6285,2014-05-30,18,10000,농산물,B45,33.0,서울,경기,5,2014,2,0.0,일반,비내구,편의
2,21866,B,6285,2014-05-30,18,5000,농산물,B45,33.0,서울,경기,5,2014,2,0.0,일반,비내구,편의
3,21867,B,6285,2014-05-30,18,2959,농산물,B45,33.0,서울,경기,5,2014,2,0.0,일반,비내구,편의
4,21868,B,6285,2014-05-30,18,7000,농산물,B45,33.0,서울,경기,5,2014,2,0.0,일반,비내구,편의

In [ ]:
print(clu0[clu0['제휴사']=='A'].groupby(['고급/일반'])['구매금액'].agg(['mean', 'count', sum]))
print(clu0[clu0['제휴사']=='A'].groupby(['내구/준내구/비내구'])['구매금액'].agg(['mean', 'count', sum]))
print(clu0[clu0['제휴사']=='A'].groupby(['편의/선매/전문'])['구매금액'].agg(['mean', 'count', sum]))

                mean   count          sum
고급/일반
고급     175727.726696  503813  88533913170
일반      24257.737120  437880  10621977930
                     mean   count          sum
내구/준내구/비내구
내구          271152.169952   57734  15654699380
비내구          30032.657735  531238  15954489030
준내구         191501.789488  352721  67546702690
                   mean   count          sum
편의/선매/전문
선매        186855.118889  360672  67393409440
전문        685824.260535   31489  21595920140
편의         18500.399467  549532  10166561520

In [ ]:
print(clu0[clu0['제휴사']=='B'].groupby(['고급/일반'])['구매금액'].agg(['mean', 'count', sum]))
print(clu0[clu0['제휴사']=='B'].groupby(['내구/준내구/비내구'])['구매금액'].agg(['mean', 'count', sum]))
print(clu0[clu0['제휴사']=='B'].groupby(['편의/선매/전문'])['구매금액'].agg(['mean', 'count', sum]))

               mean   count         sum
고급/일반
고급     15986.973502  224280  3585558417
일반      6747.176593  731837  4937833476
                    mean   count         sum
내구/준내구/비내구
내구          17156.240455   17600   301949832
비내구          7125.810117  723434  5155053316
준내구         14256.769456  215083  3066388745
                  mean   count         sum
편의/선매/전문
선매        21752.941088  110827  2410813202
전문        40026.968157    3423   137012312
편의         7097.993364  841867  5975566379

### train 데이터

In [ ]:
# train_data = pd.read_csv('/content/drive/MyDrive/데이터분석/2차_프로젝트_lmemdata/5팀_공유폴더/작업결과물/dataset/train/train-new_label.csv')
# train_data.head()

,고객번호,Recency,Frequency,Monetary,성별,연령대,거주지역,3개분기매출증가감소,반기매출증가,전분기매출증가,...,C_fluctuation,D_fluctuation,고급_fluctuation,일반_fluctuation,편의_fluctuation,준내구_fluctuation,내구_fluctuation,비내구_fluctuation,선매_fluctuation,전문_fluctuation
0,1,543,192,71940032.0,1,60,60.0,1,0,0,...,-5.000,0.001,1.0,0.0,-1.0,0.0,0.0,2.0,0.0,1.000
1,2,540,227,74036940.0,1,60,100.0,0,1,0,...,0.001,0.001,0.0,4.0,3.0,0.0,0.0,0.0,0.0,5.000
2,3,545,314,2486049.0,1,60,33.0,0,0,1,...,0.000,0.001,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.001
3,4,546,189,12956553.0,0,60,16.0,0,0,1,...,-1.000,0.001,0.0,-1.0,-1.0,0.0,0.0,-1.0,0.0,-3.000
4,5,506,203,10620810.0,1,60,100.0,0,1,0,...,0.001,0.001,2.0,5.0,6.0,4.0,4.0,4.0,5.0,-1.000

In [ ]:
# df = pd.merge(train_data, by4_cust, on='고객번호', how='left')
# df.head()

,고객번호,Recency,Frequency,Monetary,성별,연령대,거주지역,3개분기매출증가감소,반기매출증가,전분기매출증가,...,D_fluctuation,고급_fluctuation,일반_fluctuation,편의_fluctuation,준내구_fluctuation,내구_fluctuation,비내구_fluctuation,선매_fluctuation,전문_fluctuation,kmeans_cluster_by4
0,1,543,192,71940032.0,1,60,60.0,1,0,0,...,0.001,1.0,0.0,-1.0,0.0,0.0,2.0,0.0,1.000,3.0
1,2,540,227,74036940.0,1,60,100.0,0,1,0,...,0.001,0.0,4.0,3.0,0.0,0.0,0.0,0.0,5.000,3.0
2,3,545,314,2486049.0,1,60,33.0,0,0,1,...,0.001,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.001,3.0
3,4,546,189,12956553.0,0,60,16.0,0,0,1,...,0.001,0.0,-1.0,-1.0,0.0,0.0,-1.0,0.0,-3.000,3.0
4,5,506,203,10620810.0,1,60,100.0,0,1,0,...,0.001,2.0,5.0,6.0,4.0,4.0,4.0,5.0,-1.000,2.0

- 기본정보
['Recency', 'Frequency', 'Monetary', '성별', '연령대', '거주지역', '신규고객']
- R
['A방문횟수', 'B방문횟수', 'C방문횟수', 'D방문횟수']
- 이용정보
['구매금액이큰제휴사', '방문빈도가높은제휴사', '명품구매자', '구매횟수', '구매시간범주']
- 멤버십
['다둥이', '더영', '롭스', '하이마트']

In [ ]:
# temp = df[df['kmeans_cluster_by4']==3][['Recency', 'Frequency', 'Monetary', '성별', '연령대', '거주지역', '신규고객',
#                                  'A방문횟수', 'B방문횟수', 'C방문횟수', 'D방문횟수', '다둥이', '더영', '롭스', '하이마트',
#                                  '구매금액이큰제휴사', '방문빈도가높은제휴사', '명품구매자', '구매시간범주']]
# temp['Recency'].describe()

count    4670.000000
mean      542.719914
std        17.204399
min       140.000000
25%       543.000000
50%       545.000000
75%       546.000000
max       546.000000
Name: Recency, dtype: float64

In [ ]:
# round(temp[['Recency', 'Frequency', 'Monetary', 'A방문횟수', 'B방문횟수', 'C방문횟수', 'D방문횟수']].mean())

Recency           543.0
Frequency         254.0
Monetary     27205794.0
A방문횟수             149.0
B방문횟수             139.0
C방문횟수             155.0
D방문횟수               2.0
dtype: float64

In [ ]:
# for column in ['성별', '연령대', '거주지역', '신규고객', '다둥이', '더영', '롭스', '하이마트', '구매금액이큰제휴사', '방문빈도가높은제휴사', '명품구매자', '구매시간범주']:
#   print(temp[column].value_counts())

0    3782
1     888
Name: 성별, dtype: int64
45    987
40    895
50    772
35    702
55    404
30    382
60    358
25    121
20     45
19      4
Name: 연령대, dtype: int64
100.0    1396
460.0     420
55.0      334
210.0     256
500.0     220
16.0      206
610.0     175
60.0      151
540.0     136
360.0      99
340.0      91
410.0      90
570.0      85
24.0       82
49.0       79
47.0       78
270.0      73
13.0       50
75.0       47
240.0      47
10.0       47
440.0      46
0.0        45
310.0      45
27.0       44
36.0       42
39.0       33
65.0       27
43.0       26
33.0       23
72.0       23
69.0       23
82.0       22
30.0       19
20.0       18
52.0       16
79.0       16
87.0       15
45.0       13
300.0       7
630.0       3
85.0        2
Name: 거주지역, dtype: int64
1.0    4640
1.5      21
2.5       3
2.0       2
3.5       2
3.0       2
Name: 신규고객, dtype: int64
0    4200
1     470
Name: 다둥이, dtype: int64
0    4541
1     129
Name: 더영, dtype: int64
0    4622
1      48
Name: 롭스, dtype: int64
0    3626
1    1044
Name: 하이마트, dtype: int64
A    2156
B    1440
C    1052
D      22
Name: 구매금액이큰제휴사, dtype: int64
A    1929
B    1558
C    1151
D      32
Name: 방문빈도가높은제휴사, dtype: int64
0.0    2779
2.0    1891
Name: 명품구매자, dtype: int64
3.0    2045
2.0    1939
4.0     425
1.0     234
2.5      16
1.5       7
3.5       4
Name: 구매시간범주, dtype: int64